body {
  font-family: 'PT Sans Caption', sans-serif;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1rem;
}

.header {
  padding: 1.125rem 0;
  background: #22997B;
  font-family: 'PT Sans Caption', sans-serif;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 3rem;
          column-gap: 3rem;
}

.header__link {
  max-width: 13.75rem;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-size: 0.875rem;
  line-height: 1.125rem;
  color: #ffffff;
  text-decoration: none;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

.header__link:hover {
  text-decoration: underline;
}

.header__search {
  cursor: pointer;
}

.main {
  padding: 1.25rem 0 4.625rem;
}

.main__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 7.9375rem;
          column-gap: 7.9375rem;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #22997B;
  font-family: 'PT Sans Caption', sans-serif;
  font-size: .6875rem;
  font-weight: 700;
  letter-spacing: 0.05em;
  line-height: 1.3;
  color: #ffffff;
  padding: .5rem 0.75rem;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  text-decoration: none;
  border: none;
  -webkit-transition: .2s linear;
  transition: .2s linear;
  text-transform: uppercase;
}

.button:hover {
  opacity: 0.8;
}

.aside {
  font-family: 'PT Sans Caption', sans-serif;
  width: 19.0625rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.aside__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #22997B;
}

.aside__title {
  letter-spacing: 0.07em;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.3;
  color: #000000;
  text-transform: uppercase;
  margin-bottom: .75rem;
}

.aside__button {
  margin-left: auto;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.aside__form {
  margin-top: .9375rem;
  padding-bottom: 1.25rem;
  border-bottom: 1px solid #22997B;
}

.aside__input {
  font-family: 'PT Sans', sans-serif;
  width: 100%;
  border: none;
  outline: none;
  background: #DEDEDE;
  padding: .25rem 1rem;
  font-size: 1.0625rem;
  line-height: 1.3;
  letter-spacing: 0.05em;
  color: #000000;
  margin-bottom: .5625rem;
}

.aside__input::-webkit-input-placeholder {
  color: #787878;
  font-style: italic;
}

.aside__input:-ms-input-placeholder {
  color: #787878;
  font-style: italic;
}

.aside__input::-ms-input-placeholder {
  color: #787878;
  font-style: italic;
}

.aside__input::placeholder {
  color: #787878;
  font-style: italic;
}

.aside__box {
  margin-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #22997B;
}

.aside__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1rem;
  line-height: 1.3;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: #000;
  font-weight: 700;
  text-decoration: none;
}

.aside__link img {
  margin-right: .8125rem;
}

.aside__logo {
  margin-top: 1.0625rem;
  margin-bottom: .5rem;
}

.about__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 2.1875rem;
          column-gap: 2.1875rem;
  margin-bottom: 3.9375rem;
}

.about__tab {
  font-size: .875rem;
  line-height: 1.3;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #666666;
  text-decoration: none;
}

.about__tab.active {
  color: #22997B;
}

.about__info {
  margin-bottom: 4.75rem;
}

.about__title {
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 1.3;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.about__title--info {
  margin-bottom: 1.875rem;
}

.about__title--projects {
  margin-bottom: 1.875rem;
}

.about__text {
  font-family: 'PT Sans', sans-serif;
  font-size: 1.125rem;
  line-height: 1.3;
  letter-spacing: 0.05em;
}

.about__management {
  margin-bottom: 6rem;
}

.about__personal {
  padding: 0 2.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 2.5rem;
  margin-bottom: 6rem;
}

.about__projects {
  margin-bottom: 6rem;
}

.about__projects:last-child {
  margin-bottom: 0;
}

.about__row {
  max-width: 324px;
}

.about__row-name {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.3;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #22997B;
  margin-bottom: 1.5rem;
}

.about__name {
  font-family: 'PT Sans', sans-serif;
  font-size: 1.125rem;
  line-height: 1.3;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  margin-bottom: .75rem;
}

.about__name i {
  margin-left: 1rem;
  display: block;
}

.about__team {
  padding: 0 2.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 1rem;
}

.about__subtitle {
  font-size: 1.25rem;
  line-height: 1.3;
  color: #22997B;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin-bottom: 1.5625rem;
  font-weight: 700;
}

.about__subtitle:not(:first-child) {
  margin-top: 2.8125rem;
}

.about__subtitle--strong {
  font-family: 'PT Sans', sans-serif;
  font-size: 1.4375rem;
  text-transform: none;
  color: #000000;
  font-weight: 700;
}

.about__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1.5rem;
  text-transform: uppercase;
  font-family: 'PT Sans', sans-serif;
  font-size: .875rem;
  line-height: 1.3;
  letter-spacing: 0.05em;
  color: #22997B;
  text-decoration: none;
  font-weight: 700;
}

.about__link img {
  margin-right: .75rem;
}

.about__link:hover {
  opacity: 0.6;
}

.footer {
  background: url(./images/footer.png) center/cover no-repeat;
  padding: 2.0625rem 0 1.6875rem;
}

.footer__inner {
  max-width: 950px;
  width: 100%;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__term {
  display: block;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.3;
  letter-spacing: 0.05em;
  color: #ffffff;
  position: relative;
  margin-bottom: .375rem;
  text-decoration: none;
}

.footer__term::before {
  position: absolute;
  content: url(./images/arrow-f.svg);
  left: -1rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.footer__adress {
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  font-size: .875rem;
  line-height: 1.3;
  color: #ffffff;
  letter-spacing: 0.05em;
}

.footer__adress span {
  font-family: 'PT Sans Caption', sans-serif;
  font-weight: 700;
  font-size: 1rem;
}

.footer__link {
  display: block;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.3;
  color: #ffffff;
  letter-spacing: 0.05em;
  text-decoration: none;
}

.footer_copyright {
  margin-top: 1.25rem;
  font-size: .75rem;
  line-height: 1.3;
  color: #ffffff;
  letter-spacing: 0.05em;
  text-align: right;
}

.form {
  max-width: 530px;
  width: 100%;
}

.form__title {
  margin-bottom: 2.875rem;
}

.form__steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 3.75rem;
}

.form__step {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.3;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #000;
  margin-right: 1.125rem;
}

.form__step-hint {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.4;
  letter-spacing: -0.02em;
  color: #000;
}

.form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2.5rem;
  -webkit-column-gap: .75rem;
          column-gap: .75rem;
}

.form__input {
  width: 50%;
  margin-bottom: 0;
}

.form__button {
  width: 50%;
}

.form__hint {
  font-family: 'PT Sans', sans-serif;
  color: #666666;
  font-size: 1rem;
  line-height: 1.3;
  letter-spacing: 0.05em;
  font-style: italic;
}
/*# sourceMappingURL=style.css.map */