body {
  font-family: 'PT Sans Caption', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1rem;
  width: 100%;
}

.header {
  padding: 1.125rem 0;
  background: #22997B;
  font-family: 'PT Sans Caption', sans-serif;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 3rem;
          column-gap: 3rem;
}

.header__link {
  max-width: 13.75rem;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-size: 0.875rem;
  line-height: 1.125rem;
  color: #ffffff;
  text-decoration: none;
  -webkit-transition: .2s linear;
  transition: .2s linear;
  position: relative;
}

.header__link:hover {
  text-decoration: underline;
}

.header__search {
  cursor: pointer;
}

.header__list {
  max-width: 250px;
  padding: 0.375rem 1rem 0;
  position: relative;
  margin-top: -0.375rem;
}

.header__list-main {
  font-weight: 700;
  display: block;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-size: 0.875rem;
  line-height: 1.125rem;
  color: #ffffff;
  text-decoration: none;
  position: relative;
  border-bottom: 1px solid transparent;
}

.header__list-link {
  font-weight: 700;
  font-size: .75rem;
  line-height: 1.3;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #000;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 14px;
}

.header__list-link:last-child {
  margin-bottom: 0;
}

.header__list-link img {
  margin-right: .5rem;
}

.header__list-link:hover {
  opacity: 0.6;
}

.header__list:hover {
  background: white;
}

.header__list:hover .header__list-main {
  color: #22997B;
  border-bottom: 1px solid #22997B;
}

.header__list:hover .header__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__box {
  display: none;
  position: absolute;
  top: 100%;
  width: 100%;
  left: 0;
  padding: 1.25rem 1rem .75rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: white;
}

.main {
  padding: 1.5rem 0 4.625rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
}

.main--pb {
  padding-bottom: 1.625rem;
}

.main__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 7.9375rem;
          column-gap: 7.9375rem;
}

.main__inner--gap {
  -webkit-column-gap: 1.25rem;
          column-gap: 1.25rem;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #22997B;
  font-family: 'PT Sans Caption', sans-serif;
  font-size: .6875rem;
  font-weight: 700;
  letter-spacing: 0.05em;
  line-height: 1.3;
  color: #ffffff;
  padding: .5rem 0.75rem;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  text-decoration: none;
  border: none;
  -webkit-transition: .2s linear;
  transition: .2s linear;
  text-transform: uppercase;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.button:hover {
  opacity: 0.8;
}

.up {
  width: 67px;
  height: 51px;
  position: fixed;
  bottom: 0;
  right: 0;
  background: #22997B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.aside {
  font-family: 'PT Sans Caption', sans-serif;
  width: 19.0625rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.aside__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #22997B;
}

.aside__title {
  letter-spacing: 0.07em;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.3;
  color: #000000;
  text-transform: uppercase;
  margin-bottom: .75rem;
}

.aside__button {
  margin-left: auto;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.aside__form {
  margin-top: .9375rem;
  padding-bottom: 1.25rem;
  border-bottom: 1px solid #22997B;
}

.aside__input {
  font-family: 'PT Sans', sans-serif;
  width: 100%;
  border: none;
  outline: none;
  background: #DEDEDE;
  padding: .25rem 1rem;
  font-size: 1.0625rem;
  line-height: 1.3;
  letter-spacing: 0.05em;
  color: #000000;
  margin-bottom: .5625rem;
}

.aside__input::-webkit-input-placeholder {
  color: #787878;
  font-style: italic;
}

.aside__input:-ms-input-placeholder {
  color: #787878;
  font-style: italic;
}

.aside__input::-ms-input-placeholder {
  color: #787878;
  font-style: italic;
}

.aside__input::placeholder {
  color: #787878;
  font-style: italic;
}

.aside__box {
  margin-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #22997B;
}

.aside__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1rem;
  line-height: 1.3;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: #000;
  font-weight: 700;
  text-decoration: none;
}

.aside__link img {
  margin-right: .8125rem;
}

.aside__logo {
  margin-top: 1.0625rem;
  margin-bottom: .5rem;
}

.aside__groups {
  margin-top: 6.25rem;
}

.aside__groups-title {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.3;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  margin-bottom: .75rem;
}

.aside__group {
  padding: .75rem 0.5rem;
  border-top: 1px solid #DEDEDE;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.aside__group-value {
  font-family: 'PT Sans Narrow', sans-serif;
  color: #666666;
  font-weight: 700;
  font-size: 2.625rem;
  line-height: 1.3;
  letter-spacing: 0.03em;
  margin-right: .75rem;
}

.aside__group-name {
  color: #666666;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.3;
  letter-spacing: 0.03em;
}

.aside__group.active {
  position: relative;
}

.aside__group.active .aside__group-value {
  color: #22997B;
}

.aside__group.active .aside__group-name {
  color: #22997B;
}

.aside__group.active::before {
  position: absolute;
  content: "";
  left: -1.125rem;
  width: 4px;
  height: calc(100% - 1.5rem);
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: #22997B;
}

.about__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 2.1875rem;
          column-gap: 2.1875rem;
  margin-bottom: 3.9375rem;
}

.about__tab {
  font-size: .875rem;
  line-height: 1.3;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #666666;
  text-decoration: none;
}

.about__tab.active {
  color: #22997B;
}

.about__info {
  margin-bottom: 4.75rem;
}

.about__title {
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 1.3;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.about__title--info {
  margin-bottom: 1.875rem;
}

.about__title--projects {
  margin-bottom: 1.875rem;
}

.about__text {
  font-family: 'PT Sans', sans-serif;
  font-size: 1.125rem;
  line-height: 1.3;
  letter-spacing: 0.05em;
}

.about__management {
  margin-bottom: 6rem;
}

.about__personal {
  padding: 0 2.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 2.5rem;
  margin-bottom: 6rem;
}

.about__projects {
  margin-bottom: 6rem;
}

.about__projects:last-child {
  margin-bottom: 0;
}

.about__row {
  max-width: 324px;
}

.about__row-name {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.3;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #22997B;
  margin-bottom: 1.5rem;
}

.about__name {
  font-family: 'PT Sans', sans-serif;
  font-size: 1.125rem;
  line-height: 1.3;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  margin-bottom: .75rem;
}

.about__name i {
  margin-left: 1rem;
  display: block;
}

.about__team {
  padding: 0 2.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 1rem;
}

.about__subtitle {
  font-size: 1.25rem;
  line-height: 1.3;
  color: #22997B;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin-bottom: 1.5625rem;
  font-weight: 700;
  margin-top: 2.8125rem;
}

.about__subtitle:first-child {
  margin-top: 0;
}

.about__subtitle--strong {
  font-family: 'PT Sans', sans-serif;
  font-size: 1.4375rem;
  text-transform: none;
  color: #000000;
  font-weight: 700;
}

.about__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1.5rem;
  text-transform: uppercase;
  font-family: 'PT Sans', sans-serif;
  font-size: .875rem;
  line-height: 1.3;
  letter-spacing: 0.05em;
  color: #22997B;
  text-decoration: none;
  font-weight: 700;
}

.about__link img {
  margin-right: .75rem;
}

.about__link:hover {
  opacity: 0.6;
}

.footer {
  background: url(./images/footer.png) center/cover no-repeat;
  padding: 2.0625rem 0 1.6875rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.footer__inner {
  max-width: 950px;
  width: 100%;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__term {
  display: block;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.3;
  letter-spacing: 0.05em;
  color: #ffffff;
  position: relative;
  margin-bottom: .375rem;
  text-decoration: none;
}

.footer__term::before {
  position: absolute;
  content: url(./images/arrow-f.svg);
  left: -1rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.footer__adress {
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  font-size: .875rem;
  line-height: 1.3;
  color: #ffffff;
  letter-spacing: 0.05em;
}

.footer__adress span {
  font-family: 'PT Sans Caption', sans-serif;
  font-weight: 700;
  font-size: 1rem;
}

.footer__link {
  display: block;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.3;
  color: #ffffff;
  letter-spacing: 0.05em;
  text-decoration: none;
}

.footer_copyright {
  margin-top: 1.25rem;
  font-size: .75rem;
  line-height: 1.3;
  color: #ffffff;
  letter-spacing: 0.05em;
  text-align: right;
}

.form {
  max-width: 530px;
  width: 100%;
}

.form__title {
  margin-bottom: 2.875rem;
}

.form__steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 3.75rem;
}

.form__steps--mb {
  margin-bottom: 1.875rem;
}

.form__step {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.3;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #000;
  margin-right: 1.125rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.form__step-hint {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.4;
  letter-spacing: -0.02em;
  color: #000;
}

.form__inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: .75rem;
}

.form__inner--last {
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
      grid-template-areas: "mail mail mail" "surname name patronymic" "phone phone ." "terms terms terms" "initiator initiator initiator" "text-first text-first text-first" "text-sec text-sec text-sec" "text-third text-third text-third";
}

.form__input {
  margin-bottom: 0;
  position: relative;
}

.form__input.correct {
  background: rgba(34, 153, 123, 0.2);
  color: #22997B;
}

.form__input:focus + label {
  display: none;
}

.form__item {
  position: relative;
}

.form__item--mail {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: mail;
}

.form__item--surname {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: surname;
}

.form__item--name {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: name;
}

.form__item--patronymic {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: patronymic;
}

.form__item--phone {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: phone;
}

.form__item--terms {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: terms;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__item--initiator {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: initiator;
}

.form__item--text-first {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: text-first;
}

.form__item--text-sec {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: text-sec;
}

.form__item--text-third {
  -ms-grid-row: 8;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: text-third;
}

.form__item label {
  position: absolute;
  font-family: 'PT Sans', sans-serif;
  color: #FF0000;
  font-size: 1.0625rem;
  line-height: 1.3;
  letter-spacing: 0.05em;
  font-style: italic;
  top: -2px;
  right: 2px;
}

.form__button {
  width: 100%;
  max-width: inherit;
}

.form__hint {
  font-family: 'PT Sans', sans-serif;
  color: #666666;
  font-size: 1rem;
  line-height: 1.3;
  letter-spacing: 0.05em;
  font-style: italic;
  margin-top: 2.5rem;
}

.form__hint span {
  font-weight: 700;
}

.form__repeat {
  margin-left: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1rem;
}

.form__repeat-text {
  color: #666666;
  font-family: 'PT Sans', sans-serif;
  letter-spacing: 0.05em;
  font-size: .75rem;
  line-height: 1.3;
  margin-right: .375rem;
}

.form__repeat-link {
  font-weight: 700;
  font-size: 0.75em;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #22997B;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

.form__repeat-link:hover {
  opacity: 0.6;
}

.form__note {
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  font-size: .75rem;
  line-height: 1.3;
  letter-spacing: 0.05em;
  color: #666666;
  margin-bottom: .625rem;
}

.form__note span {
  color: #FF0000;
  font-weight: 700;
}

.form__checkbox {
  height: 0;
  visibility: hidden;
  width: 0;
}

.form__checkbox:checked + label::after {
  opacity: 1;
}

.form__label {
  background: #C4C4C4;
  cursor: pointer;
  display: block;
  height: 20px;
  position: relative !important;
  width: 20px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.form__label::after {
  background: #22997B;
  content: "";
  height: 10px;
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 10px;
  -webkit-transition: .2s linear;
  transition: .2s linear;
  opacity: 0;
}

.form__term {
  font-family: 'PT Sans', sans-serif;
  color: #666666;
  font-size: .75rem;
  line-height: 1.3;
  letter-spacing: 0.05em;
  margin-left: 1rem;
}

.form__term a {
  color: #666666;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

.form__term a:hover {
  opacity: 0.6;
}

.form textarea {
  resize: none;
  width: 100%;
  border: none;
}

.form textarea[name=first], .form textarea[name=sec] {
  min-height: 104px;
}

.form textarea[name=third] {
  min-height: 171px;
}

.form__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 1.5rem;
}

.form__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1rem;
}

.form__box img {
  margin-right: 1.25rem;
}

.form__box-text {
  font-weight: 700;
  font-size: .625rem;
  color: #666666;
  letter-spacing: 0.05em;
  line-height: 1.1;
}

.form__send {
  min-width: 133px;
}

.form__wrap {
  margin-left: 2.25rem;
}

.form__doc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form__doc img {
  margin-right: .625rem;
}

.form__doc-link {
  font-family: 'PT Sans', sans-serif;
  color: #666666;
  font-size: .625rem;
  line-height: 1.3;
  letter-spacing: 0.02em;
  margin-bottom: .25rem;
}

.form__delete {
  width: 10px;
  height: 12px;
  cursor: pointer;
  border: none;
  outline: none;
  background: url(./images/trash.svg) center/cover no-repeat;
  margin-left: .5rem;
}

.form__subtitle {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.3;
  text-transform: uppercase;
  color: #22997B;
  letter-spacing: 0.05em;
  margin-bottom: 1.5rem;
}

.form__subtitle--error {
  color: #DD0000;
  margin-bottom: .625rem;
}

.form.success input, .form.success textarea {
  background: rgba(34, 153, 123, 0.2);
  color: #000;
  font-style: italic;
}

.form__error {
  font-size: 1.125rem;
  line-height: 1.4;
  letter-spacing: -0.02em;
  color: #000000;
  margin-bottom: 1rem;
}

.form__error-btn {
  margin-left: auto;
}

.analytics {
  max-width: 652px;
}

.analytics__title {
  margin-bottom: 3.125rem;
}

.analytics__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.6875rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.analytics__item:last-child {
  margin-bottom: 0;
}

.analytics__img {
  margin-right: 3.4375rem;
}

.analytics__cont {
  border-bottom: 1px solid #22997B;
  padding-bottom: .25rem;
}

.analytics__text {
  font-family: 'PT Sans', sans-serif;
  font-size: 1.125rem;
  line-height: 1.4;
  letter-spacing: -0.02em;
  font-weight: 400;
  margin-bottom: .875rem;
}

.analytics__text span {
  font-weight: 700;
}

.analytics__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.analytics__date {
  font-weight: 700;
  font-size: .875rem;
  line-height: 1.3;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.analytics__source {
  font-weight: 400;
  font-size: .625rem;
  line-height: 1.3;
  text-transform: capitalize;
  letter-spacing: 0.05em;
  color: #666666;
}

.international {
  width: 100%;
}

.international__title {
  margin-bottom: 3.25rem;
}

.international__subtitle {
  max-width: 630px;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.3;
  letter-spacing: 0.04em;
  margin-bottom: 1.0625rem;
}

.international__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1.5rem;
          column-gap: 1.5rem;
  margin-bottom: 1.75rem;
}

.international__date {
  font-weight: 700;
  font-size: .875rem;
  line-height: 1.3;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.international__cont {
  border-bottom: 1px solid #22997B;
  width: 100%;
  padding-bottom: .875rem;
}

.international__name {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.4;
  letter-spacing: -0.02em;
  margin-bottom: 1rem;
}

.international__news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.international__news-arrow {
  margin-right: 1rem;
}

.international__news-name {
  font-family: 'PT Sans', sans-serif;
  color: #666666;
  font-size: .875rem;
  line-height: 1.4;
  letter-spacing: -0.02em;
}

.international__news-doc {
  margin-left: auto;
}

.international__news-box {
  margin-top: 1rem;
}

.international__news--mb {
  margin-bottom: .875rem;
}

.international__news--mb:last-child {
  margin-bottom: 0;
}

.international__box {
  font-family: 'PT Sans', sans-serif;
  max-width: 640px;
}

.international__wrap {
  display: inline;
}

.international__wrap img {
  float: left;
  margin: 0 2.1875rem 0 0;
}

.international__wrap-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-inline-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 8;
  font-size: 1rem;
  line-height: 1.3;
  max-width: 404px;
  letter-spacing: 0.04em;
}

.international__wrap-text.open {
  -webkit-line-clamp: inherit;
}

.international__more {
  border: none;
  background: transparent;
  font-weight: 700;
  font-size: .75rem;
  line-height: 1.3;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #22997B;
  margin-left: auto;
  display: block;
  cursor: pointer;
  margin-top: 1rem;
}

.international__text {
  font-size: 1rem;
  line-height: 1.3;
  letter-spacing: 0.04em;
  margin-top: 1.5625rem;
  display: none;
}

.international__text span {
  font-weight: 700;
}

.international__text.open {
  display: block;
}

.international__source {
  text-transform: none;
  color: #666666;
}

.alliance__logo {
  display: block;
  margin: 0 auto;
}

.alliance__subtitle {
  margin-bottom: 3.625rem;
  margin-top: .625rem !important;
}

.alliance__subtitle--sec {
  font-size: 1.5rem;
  margin-bottom: 1.875rem;
}

.alliance__item {
  border-bottom: 1px solid #22997B;
  padding-bottom: 1.5rem;
  margin-bottom: 4.1875rem;
}

.alliance__item--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1.5rem;
          column-gap: 1.5rem;
}

.alliance__item-title {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.3;
  letter-spacing: 0.04em;
  margin-bottom: 1.5rem;
}

.alliance__item-title--str {
  font-size: 1.25rem;
}

.alliance__item-title--sec {
  color: #666666;
}

.alliance__item:last-child {
  margin-bottom: 0;
}

.alliance__cont {
  padding-left: 6.25rem;
}

.alliance__cont--sec {
  padding-left: 0;
}

.alliance__text {
  font-size: 1rem;
  line-height: 1.3;
  letter-spacing: 0.04em;
  margin-bottom: 1.625rem;
  font-family: 'PT Sans', sans-serif;
}

.alliance__text span {
  font-weight: 700;
  font-family: 'PT Sans Caption', sans-serif;
}

.alliance__text--sec {
  color: #666666;
}

.alliance__link {
  margin-right: auto;
}

.alliance__date {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.3;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.initiative__title {
  margin-bottom: 2.5rem;
}

.initiative__subtitle {
  margin-top: 0;
}

.initiative__item {
  padding-left: 6.25rem;
  margin-bottom: 2.75rem;
}

.initiative__item-title {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.3;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-bottom: 1.625rem;
}

.initiative__text {
  font-family: 'PT Sans', sans-serif;
  font-size: 1rem;
  line-height: 1.3;
  letter-spacing: 0.04em;
  margin-bottom: .75rem;
}

.initiative__link {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: .75rem;
}

.breadcrumb {
  list-style: none;
  padding: 0;
  margin: .75rem 0 1.875rem 0;
}

.breadcrumb__item {
  display: inline;
}

.breadcrumb__item + li::before {
  padding: 0 .25rem;
  color: #666666;
  content: "/\00a0";
}

.breadcrumb__link {
  text-decoration: none;
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  font-size: .875rem;
  letter-spacing: 0.04em;
  color: #666666;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

.breadcrumb__link.active {
  text-decoration: underline;
}

.breadcrumb__link:hover {
  opacity: 0.6;
}

.optimization__subtitle {
  margin-bottom: 2rem;
}

.optimization__item {
  margin-bottom: 3.4375rem;
}

.optimization__item:last-child {
  margin-bottom: 0;
}

.optimization__item-title {
  margin-bottom: 2rem;
}

.optimization__item-title--sec {
  font-size: 1.125rem;
  margin-bottom: 1.25rem;
  color: #000000;
  text-transform: none;
}

.optimization__text {
  padding: 0 6.25rem;
  font-family: 'PT Sans', sans-serif;
  font-size: 1rem;
  line-height: 1.3;
  letter-spacing: 0.04em;
}

.optimization__text a {
  font-weight: 700;
  color: #22997B;
}

.optimization__docs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1.5rem 0 2.8125rem;
  padding-left: 6.25rem;
}

.optimization__docs:last-child {
  margin-bottom: 0;
}

.optimization__docs-arrow {
  margin-right: 1rem;
}

.optimization__docs-name {
  font-family: 'PT Sans', sans-serif;
  font-size: 1rem;
  line-height: 1.3;
  letter-spacing: 0.04em;
}

.optimization__link {
  margin-left: auto;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

.optimization__link--sec {
  margin-left: .3125rem;
}

.optimization__link:hover {
  opacity: 0.6;
}

.optimization__groups {
  padding: 0 6.25rem;
}

.optimization__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.875rem;
}

.optimization__group:last-child {
  margin-bottom: 0;
}

.optimization__group-num {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.3;
  letter-spacing: 0.04em;
  margin-right: .75rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.optimization__group-name {
  font-family: 'PT Sans', sans-serif;
  font-size: 1rem;
  line-height: 1.3;
  letter-spacing: 0.04em;
}

.report__main-text {
  padding-left: 6.25rem;
  font-family: 'PT Sans', sans-serif;
  font-size: 1rem;
  line-height: 1.3;
  letter-spacing: 0.04em;
  margin-bottom: 3.5rem;
}

.report__item {
  margin-bottom: 3.5rem;
}

.report__item:last-child {
  margin-bottom: 0;
}

.report__name {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.3;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-bottom: 2.25rem;
}

.report__box {
  padding-left: 6.25rem;
}

.report__docs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: .625rem;
}

.report__docs-arrow {
  margin-right: 1rem;
}

.report__docs-name {
  font-family: 'PT Sans', sans-serif;
  font-size: 1rem;
  line-height: 1.3;
  letter-spacing: -0.02em;
}

.report__docs-date {
  font-size: .875rem;
  line-height: 1.3;
  letter-spacing: 0.05em;
  margin-left: auto;
}

.report__docs-date span {
  font-weight: 700;
  font-size: 1rem;
}

.report__link {
  margin-left: 3.125rem;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

.report__link:hover {
  opacity: 0.6;
}

.report__link--ml {
  margin-left: auto;
}

.report__link--sec {
  margin-left: .375rem;
}

.report__cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1.5rem;
          column-gap: 1.5rem;
  margin-bottom: 3.125rem;
}

.report__cont:last-child {
  margin-bottom: 0;
}

.report__date {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.report__inner-name {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.3;
  letter-spacing: -0.02em;
  color: #22997B;
  margin-bottom: 1rem;
}

.report__inner-name--black {
  color: #000000;
}

.report__text {
  padding-right: 6.25rem;
  font-family: 'PT Sans', sans-serif;
  font-size: 1rem;
  line-height: 1.3;
  letter-spacing: 0.04em;
  margin-bottom: 1.5rem;
}

.report__text span {
  font-weight: 700;
}

.finance__item {
  margin-bottom: 3.125rem;
  margin-right: 6.25rem;
  border-bottom: 1px solid #22997B;
  padding-bottom: 2.1875rem;
}

.finance__item:last-child {
  margin-bottom: 0;
  border: none;
}

.finance__name {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.3;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #22997B;
  margin-bottom: 1.9375rem;
}

.finance__text {
  padding-left: 6.25rem;
  font-family: 'PT Sans', sans-serif;
  font-size: 1rem;
  line-height: 1.3;
  letter-spacing: 0.04em;
}

.finance__text span {
  font-weight: 700;
}

.finance__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1.25rem;
          column-gap: 1.25rem;
}

.finance__box ul {
  width: 50%;
}

.finance__docs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1.5rem -6.25rem .5rem 6.25rem;
}

.finance__docs-arrow {
  margin-right: 1rem;
}

.finance__docs-name {
  font-family: 'PT Sans', sans-serif;
  font-size: 1rem;
  line-height: 1.3;
  letter-spacing: -0.02em;
}

.finance__docs:last-child {
  margin-top: 0;
  margin-bottom: 0;
}

.finance__link {
  margin-left: auto;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

.finance__link:hover {
  opacity: 0.6;
}

.terms__title {
  font-size: 1.75rem;
  line-height: 1.3;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-bottom: 2.625rem;
}

.terms__subtitle {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.3;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-bottom: 1.875rem;
  color: #22997B;
}

.terms__inner {
  padding: 0 6.25rem;
}

.terms__text {
  font-family: 'PT Sans', sans-serif;
  font-size: 1rem;
  line-height: 1.3;
  letter-spacing: 0.04em;
  margin-bottom: 2rem;
}

.terms__text:last-child {
  margin-bottom: 0;
}

.terms__name {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.3;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-bottom: 32px;
}

.intro {
  width: 100%;
  overflow: hidden;
}

.intro__inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  padding: 1.375rem;
  gap: 1.25rem;
  background: url(./images/intro.png) center/cover no-repeat;
  margin-bottom: 2.0625rem;
}

.intro__item {
  display: block;
  background: rgba(34, 153, 123, 0.8);
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  padding: 1.625rem;
  height: 200px;
  font-weight: 400;
  font-size: 1.5625rem;
  line-height: 1.3;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  text-decoration: none;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

.intro__item:hover {
  background: #22997b;
}

.actual__title {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.3;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #22997B;
  margin-bottom: 1.75rem;
  position: relative;
  padding-bottom: .25rem;
}

.actual__title:after {
  position: absolute;
  content: "";
  width: 300px;
  height: 1px;
  background: #22997B;
  bottom: 0;
  left: 0;
}

.actual__slider {
  position: relative;
}

.actual__wrap {
  margin: 0 1.5rem;
}

.actual__link {
  border-bottom: 1px solid #22997B;
  padding-bottom: .75rem;
}

.actual__date {
  font-weight: 700;
  font-size: .875rem;
  line-height: 1.3;
  letter-spacing: 0.05em;
  margin-bottom: .375rem;
}

.actual__text {
  font-family: 'PT Sans', sans-serif;
  font-size: .9375rem;
  line-height: 1.3;
  letter-spacing: 0.05em;
}

.actual .next:after, .actual .prev::after {
  content: url(./images/arr.svg);
  font-size: 0;
}

.actual .next {
  right: 0;
  width: 9px;
  height: 18px;
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(180deg);
          transform: translateY(-50%) rotate(180deg);
  margin: 0;
  opacity: 1 !important;
}

.actual .prev {
  left: 0;
  width: 9px;
  height: 18px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin: 0;
  opacity: 1 !important;
}

.actual .swiper-pagination {
  bottom: 0;
}

.actual .swiper {
  padding-bottom: 2rem;
}

.actual .swiper-pagination-bullet-active {
  background: #000000;
}

.actual .swiper-pagination-bullet {
  margin: 0 5px !important;
}
/*# sourceMappingURL=style.css.map */